
/* phase for responsive custom */
@media only screen and (min-width: 400px) and (max-width: 600px){
    h1{
        font-size: 24px !important;
    }
    h2{
        font-size: 20px !important;
    }
}
@media only screen and (max-width: 400px){
    h1{
        font-size: 16px !important;
    }
    h2{
        font-size: 14px !important;
    }
    h4{
        font-size: 12px !important;
    }

    p{
        font-size: 8px !important;
    }
}
@media only screen and (max-width: 600px) {
    .btnBooking{
        font-size: 12px !important;
        width: 100px !important;
        height: 35px !important;
        margin: 15px !important;
    }
    .itemHeaderSub{
        width: 250px !important ;
    }
    .markImgHome{
        bottom: 20px !important;
    }
    .avataReview img{
        height: 60px !important;
        width: 60px !important;
    }
    .hederReviewInfor{
        padding-left: 10px !important;
    }
    .txtLogo p{
        font-size: 18px !important;
    } 
    .homeContent{
        display: none !important;
    }
    #header{
        padding-left: 10px !important;
        height: 50px !important;
    }
    #imgBg img{
        width: 70px !important;
        height: 70px !important;
    
    }
    .about-general-conten1{
        margin-top: -30px !important;
    }
    .normalText{
        font-size: 8px !important;
        line-height: 14px !important; /* 1.5 times the font size */

    }
    .homeSubTitle{
        font-size: 20px !important;
    }
    .homeSubTxt{
        font-size: 8px !important;
    }
    .strongNum{
        font-size: 50px !important;
    }
   
    #formReview{
        margin: 10px !important;
        margin-bottom: 70px  !important;
    }
    .markBtn{

        font-size: 10px !important;
    }
    .markBtn div{
        margin-left: 15px !important;

        
    }
    .markBtnChoose{
        font-size: 12px !important;
    }
    .markBtnHome{
        cursor: pointer;
        width: 25px !important;
        height: 25px !important;
    }
} 
@media only screen and (max-width: 870px) {
    .avataReview{
        left: 0px !important;
    }
    .hederReviewInfor{
        position: relative;
        left: 60px !important;

    }
    .itemHeader{
        display: none !important;
    }
    .icontHeder800{
        display: block ;
    }
    
   
} 
@media (max-width: 992px) {
    .homeContent-btn{
        display: none;
    }
    .imgCard img{
        width: 100%!important;
        height: auto !important;
    }
    
}
@media only screen and (min-width: 701px) and (max-width: 1000px) {
   
    #header {
        height: 50px !important;
        font-size: 14px !important;
    }
    .logoHeader img {
        width: 38px !important;
        height: 38px !important;
    }

}

 @media only screen and (min-width: 600px) and (max-width: 1200px) {

    .normalText{
        font-size: 14px !important;
        line-height: 22px !important; /* 1.5 times the font size */

    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .imgCard img{
        width: 100%!important;
        height: 300px !important;
    }
    
}
@media only screen and (max-width: 1200px) {
    .footer{
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 1460px) {

    .review-hide{
        display: none !important;
    }
    
    #contentDoctor-content{
        margin-top: 30px;
        width: 100% !important;
       
    }
    #inforDoctor-bg{
        display: none !important;
    }
    #contentDoctor-imgDoctor{
        display: flex;
        justify-content: center !important  ;
    }
    #contentDoctor-imgDoctor{
        display: none !important;
    }
} 





/* phase for header */


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.breakLine {
    word-wrap: break-word !important; /* Ensures long words will break */
    overflow-wrap: break-word !important; /* Modern equivalent */
    word-break: break-all !important; /* Breaks words at any character to prevent overflow */
  }
html body{
    background-color: #F5F5F5;
}
.btnContact{
    background-color: #A81A36;
}

  
.txtLogo{
    margin-left: 20px;
}
.txtLogo p{
    font-family: "Protest Revolution", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}
#header{
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;

    font-size: 20px ;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: background-color 0.5s ease, color 0.5s ease;
    z-index: 10;
}

.logoHeader{
    display: flex;
    align-items: center;
}
.logoHeader img{
    width: 70px;
    height: 70px;
    position: relative;
}

.itemHeader{
    display: flex;
    height: 100%;
    position: absolute;
    right: 70px;
}
.itemHeader div{
    margin-right: 20px;
    padding: 20px;
    font-weight: 100;

}
.menuItem a:hover{
    font-weight: 700;
    color: #ac4d00 !important;
    border-bottom: 4px solid #ac4d00;
}
.menuItem{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menuItem a{
    color: white;
}
.icontHeder800{
    position: absolute;
    right: 30px;
    font-size: 45px;
    display: none;
    cursor: pointer;
    transition: font-size 0.5s;
}
.icontHeder800:hover{
    font-size: 55px;
}
.menuSub{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 19;
    width: 100%;
    height: 100%;
    display: none;
}
.itemHeaderSub{
    position: absolute;
    left: 0px;
    display: block;
    width: 400px;
    height: 100%;
    background-color: white;
    z-index: 20;
    height: 100%;
}
.menuItemSub a:hover{
    font-weight: 700;
    background-color: #ac4d00;
    color: white;
}
.menuItemSub a{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: black;
}
/* phase for content */

.home{
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.899);
    font-family: Helvetica, sans-serif;


}
.home img{
    width: 100%;
    height: auto;
    position: absolute;
    background-size: cover;
    z-index: -1;
}

#home_gradient{
    width: 100%;
    z-index: 0;
    opacity: 0.8;
}
.content{
    padding: 0px;
    width: 100%;
    z-index: 5;
}
.markImgHome{
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    justify-content: center;
    z-index: 2;
    right: 15%;
}
.bgMark2{
    position: absolute;
    height: 100px;
    width: 170%;
    z-index: 1;
    background-color: rgba(231, 227, 227, 0.4);
    rotate: 2deg;
    bottom: -60px;
}

.bgMark1{
    position: absolute;
    height: 65px;
    width: 140%;
    z-index: 2;
    background-color: #F5F5F5;
    rotate: 358deg;
    bottom: -25px;
}

.markBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: 400;
    font-size: 16px;
}
.markBtn div{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.markBtnChoose{
    font-weight: 700;
    font-size: 20px;
    background-color: #6e3c13;
    color: white
}
.markBtnHome{
    cursor: pointer;
    width: 55px ;
    height: 55px ;
}
.homeContent{
    position: absolute;
    left: 20%;
    top: 40%;
    display: block;
}
.homeContent{
    color: white;
    font-size: 16;
}
.homeContent-btn{
    cursor: pointer;
    position: relative;
    background-color: #6e3c13;
    color: white;
    font-size: 18px;
    padding: 10px 35px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    font-weight: 400;
    margin-top: 40px;
    padding: 15px 40px ;
    border-radius: 2px;
}
.homeContent-btn img{
    width: 8px;
    height: 8px;
    z-index: 2;
    right: 5px;
    top: 5px;
}

.homeContent-btn:hover{
    font-size: 22px;
    background-color: #67370f;
    transform: scale(1.02);
    margin-top: 40px;
    padding: 15px 50px ;
}

.homeSubTitle{
    font-size: 40px;
}

.homeSubTxt{
    font-size: 20px;
}
/* phase about */
.normalText{
    font-size: 22px;
    line-height: 42px; /* 1.5 times the font size */
    word-break: normal !important; 
    white-space: normal !important;
    overflow-wrap: break-word !important; 

}
#about{
    padding: 0px;
    font-family: Helvetica, sans-serif;

    background-color: #F5F5F5;

}
#about-general{
    position: relative;
    z-index: 1;
    width: 100%;

}
.about-general-conten1{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -150px;
    z-index: 1;
}
.about-general-content{
    position: relative;
    background-color: #F5F5F5;

}
.about-general-conten1 h2{
    color: #754011;
}
#imgBg{
    display: fixed;
    z-index: 0;
    padding-left: 5%;
}
#imgBg img{
    width: 300px;
    height: 300px;

}

#inforDoctor{
    margin-top: 100px;
    margin-left: 5%;
    position: relative;
    margin-bottom: 100px;

}
#contentDoctor-imgDoctor{
    overflow: hidden;
    height: 780px;
    border-radius: 20px;

}
#contentDoctor-imgDoctor img{
    height: 780px;

    border-radius: 20px;

}
#contentDoctor-content{
    color: black;
    width: 45%;
    color: white;
    background-color: #6e3c13;
    border-radius: 20px;
}
#contentDoctor{
    z-index: 1;
    margin-top: 80px;
}
#inforDoctor-bg{
    margin-right: 6%;
    z-index: 0;
    border-radius: 20px;
    background-color: #6e3c13;
    color: white;
    height: 1000px;
    width: 80%;
    position: absolute;
    right: 0px;
}

.breakLineWhite{
    background-color: white;
    width: 150px;
    height: 2px;
}

.breakLineBrown{
    background-color: #67370f;
    width: 150px;
    height: 2px;
}

.breakColWhite{
    background-color: white;
    height: 70%;
    width: 1px;
    
}

.strongNum{
    color: #67370f;
    font-size: 80px;
    font-weight: 700;
}

.btnBooking{
    font-size: 24px;
    width: 300px;
    height: 70px;
    background-color: #6e3c13;
    border: 1px solid white;
    transition: 1s ;
    border-radius: 10px;    
    z-index: 2;
    margin: 15px;
}
.btnBooking a{
    color: white;

}
.btnBooking a:hover{
    color: black;

}
.btnBooking:hover{
    background-color: white;
    transition: 1s ;
}
#about-treatmentMethod{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
    width: 90%;
    font-family: Helvetica, sans-serif;
    color: #52565E;
                   
}
#about-treatmentMethod .card{
    border: 2px solid #E1E5E6;
    height: fit-content;
    padding: 0px;
    margin: 7px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
}
#about-treatmentMethod  .card .card-title{
    font-weight: 700;
    color: #52565E;
}
#about-treatmentMethod  .card .card-text{
    font-weight: 400;
    color: #86949B;
}
.imgCard{
    overflow: hidden;
    width: 100%;
    padding: 0px !important;
}
.imgCard img{
    height: 280px;
    padding: 0;
}
#register{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 20px;
    top: -100px;
    font-family: Helvetica, sans-serif;

}
#register{
    width: 70%;
}
.booking-date-item{
    width: 72px;
    height: 58px;
    background: #f7f7f7;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
}
.booking-date-date{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #484848;
}
.booking-date-label{
    font-size: 12px;
    color: #a3a3a3;
    line-height: 16px;
}

.booking-time-item{
    width: 100px;
    height: 58px;
    background: #f7f7f7;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
.booking-time-item:hover{
    background-color: #FFFFFF;
    border: 2px#E5A724 solid;
}
.booking-date-item:hover{
    background-color: #FFFFFF;
    border: 2px#E5A724 solid;
}
.booking-time{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #484848;
}
input::placeholder {
    color: rgba(179, 179, 179, 0.9) !important;
    opacity: 1;
}

textarea::placeholder {
    color: rgba(179, 179, 179, 0.9)  !important;
    opacity: 1;
}
input{
    height: 50px;
}

.booking-cta-button{
    width: 220px;
    height: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #337ab7;
    border: 0px;
}
.contentCardMethod{
    padding: 25px;
    height: fit-content;
}
.booking-cta-button:hover{
    background-color: #498eca;
}
.notification{
    background-color: #5b5959c0;
    width: 100%;
    height: 100%;
    z-index: 11;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    
}
.notification-item{
    width: 60%;
    background-color: white;
    border-radius: 25px;
    position: relative;

}
.notification-item .row{
    padding-left: 50px;
}
.notification-item-inforRowTitle{
    margin-bottom: 10px;

}
.notification-item-inforRowTitle h5{
    padding: 0px;
    margin: 0px;
}
.notification-item-inforRowContent {
    padding-left: 20px;
    margin-bottom: 10px;
}
.notification-item-inforRowContent p{
    padding: 0px;
    margin: 0px;
}
.cancel{
    right: 10px;
    top: 10px;
}
.cancel img{
    height: 40px;
    width: 40px;
}
#formReg-dateBirth{
    color: rgb(186, 186, 186) ;
}

.messgeBox{
    display: flex;
    justify-content: center;
    position: relative;
    width: 600px;
    z-index: 11;
}

#mesSuccessReg{
    display: none; 
    justify-content:center ; 
    position: fixed;
     bottom: 30px;
}
#messWrongReg{
    display: none; 
    justify-content:center ; 
    position: fixed;
     bottom: 30px;
}
.wrongTxt{
    padding: 0px;
    margin: 0px;
    color: red;
    display: none;
    font-style: italic;
    padding-left: 10px;
}

button input{
    cursor: pointer;
}
.avataReview img{
    width: 85px;
    height: 85px;
    object-fit: cover; /* Đảm bảo ảnh bao phủ toàn bộ vùng chứa mà không bị méo */
    object-position: center; /* Đặt tâm của ảnh ở trung tâm vùng chứa */
}
.hederReviewInfor{
    padding-left: 40px ;
}
.starReview img{
    width: 17px;
    height: 17px;
}
.itemReview{
    border: 0px !important; 
    width: 550px; 
    height: 270px; 
    overflow: visible; 
    padding: 25px; 
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: rgba(175, 175, 175, 0.384) !important;
    margin: 7px !important;
    border: 0px !important;
}
#formReview{
    margin: 70px;
    margin-top: 30px;
}
.carousel-indicators .active{
    background-color: #FEB900 !important;
}
.quote-icon-yellow {
    color: rgb(192, 166, 19);
  }
  .quote-icon-rotate {
    display: inline-block;
    transform: rotate(180deg);
  }
.review-hide{
    display: block;
}
.otherDateRegChoose{
    font-size: 14px !important;
    font-weight: 700 !important;
}
.footer{
    margin-left: 12%;
}